/* 

Green - #008e99

Gray - #333333

White - #f2f2f2 

*/

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p,
span {
  font-weight: 400;
  font-size: 1.6rem;
}



.intruduction_background-img {
  position: static;
  z-index: -1;
  background-image: url("/Assets/background-desktop.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  flex-grow: 1;
}

.main-content-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;
  height: 100%;
  width: 55%;
  top: 0;
  right: 0;
  background-color: #f2f2f2d7;
  padding: 0 1rem;
}
.company_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16rem;
}
.intruduction_title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333333;
}

.title-box_title {
  margin-bottom: 0.8rem;
}

.title-box_text {
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.introduction_intro-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.intro-img {
  height: 25rem;
  border: white 0.8rem solid;
}

.introduction_bottom-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
  padding: 0 6rem;
}
.intro-button {
  padding: 2rem 10rem;
  /* width: 12rem; */
  align-self: center;
  background-color: #008e99;
  color: #f2f2f2d7;
  border: none;
  cursor: pointer;
}
.main-content-container .main-privacy-rights {
  position: absolute;
  bottom: 1rem;
  right: 25%;
}

.privacy {
  font-weight: 700;
}

.geometry {
  position: absolute;
  z-index: 50;
  transform: translateX(-45%);
  height: 80vh;
  width: 30rem;
  top: 20%;
  left: 45%;
  /* background-color: #4a9900; */
}

.geometry_bar:nth-child(2){
    z-index: 100;
    height: 100%;
    width:32rem;
    background-color: #008e99;
    clip-path: polygon(40% 0, 48% 5%, 48% 100%, 40% 100%);
}
.geometry_bar:nth-child(3){
    z-index: 100;
    transform: translate(8%,-100%);
    height: 80%;
    width:32rem;
    background-color: #01adba;
    clip-path: polygon(40% 0, 48% 5%, 48% 100%, 40% 100%);
}

.geometry .geometry_bar:first-child{
    position: absolute;
    z-index: 100;
    height: 40%;
    width:32rem;
    background-color: #01aebaed;
    transform: translate(-8%,150%);
    clip-path: polygon(42% 7%, 48% 0, 48% 100%, 41% 100%);
}


@media(max-width:1300px){

      .main-privacy-rights{
          left: 50%;
          transform: translateX(-40%);
          width: 100%;
      }

      .company_logo{
        margin-bottom: 6rem;
      }
}

@media (max-width: 768px) {
  .intruduction_background-img {
    background-image: url("/Assets/background-mob.jpg");
  }

  .company_logo{
    margin-bottom: 6rem;
  }

  .intro-img {
    height: 16rem;
  }
  .main-privacy-rights {
    position: absolute;
    right: 0;
  }

  .main-privacy-rights{
    left: 50%;
    transform: translateX(-40%);
    width: 100%;
}
}
